html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 60%;
  align-items: center;
}


.meeting {
  width: 100%;
  min-width: 560px;
  max-width: 760px;
  border-radius: 6px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.meeting:hover {
  transform: translateY(-2px);
  box-shadow: none;
  cursor: pointer;
}


.upcoming.meeting {
  border: 1px solid rgba(35, 33, 35, 0.07);
  background: #FFF;
  box-shadow:  0px -1px 4px 0px rgba(0, 0, 0, 0.07) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}

.live.meeting {
  border: 1px solid rgba(204, 162, 0, 0.15);
  background: var(--yellow-20, #FFF4CC);
  box-shadow:  0px -1px 4px 0px rgba(0, 0, 0, 0.07) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}

.meeting-top {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.meeting-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meeting-title {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 20px;
}

.details {
  display: flex;
  gap: 16px;
}

.details span {
  display: flex;
  gap: 4px;
}

.details p {
  font-style: normal;
  font-size: 14px;
  font-weight: 400px;
  line-height: 20px;
  color: var(--black-80, #4E4D4D);
}


button {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}

.white-button {
  color: var(--black-100, #232123);
  border: 1px solid rgba(35, 33, 35, 0.08);
  background: var(--white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px -1px 4px 0px rgba(0, 0, 0, 0.07) inset;
}

.white-button:hover {
  background: var(--grey-30, #F3F1ED);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05), 0px -1px 4px 0px rgba(0, 0, 0, 0.10) inset;
  cursor: pointer;
}

.black-button {
  color: var(--white, #FFF);
  border: 1px solid rgba(0, 0, 0, 0.80);
  background: var(--black-100, #232123);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(255, 255, 255, 0.16) inset, 0px 16px 4px 0px rgba(255, 255, 255, 0.04) inset, 0px -2px 4px 0px rgba(0, 0, 0, 0.80) inset;
}

.black-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.80);
  background: var(--black-80, #4E4D4D);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(255, 255, 255, 0.14) inset, 0px 8px 10px 0px rgba(255, 255, 255, 0.08) inset;
  cursor: pointer;
}

span.indicator {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.pill {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
}

.grey-pill {
  background: var(--grey-10, #F7F6F3);
}

.yellow-pill {
  background: rgba(255, 202, 0, 0.16);
}

.black-pill {
  background: var(--black-100, #232123);
}

div.pill p {
   font-family: Roboto;
   font-size: 12px;
   font-style: normal;
   line-height: 16px; /* 133.333% */
}

div.grey-pill p {
  color: var(--black-100, #232123);
  font-weight: 400;
}

div.yellow-pill p {
  color:var(--black-100, #232123);
  font-weight: 400;
}

div.black-pill p {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.36px;
}

.notice-of-meeting, .meeting-pack {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-right: 1px solid var(--grey-30, #F3F1ED);
}

.attendance, .minutes {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-right: 1px solid rgba(204, 162, 0, 0.15);
}

.live-tag {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-right: 1px solid rgba(204, 162, 0, 0.15);
}


.green {
  background: var(--Green, #22B441);
}

.red {
  background: var(--red, #E84D1C);
}

.yellow {
  background: var(--yellow-100, #FFCA00);
}

.btm {
  color: var(--black-80, #4E4D4D);

  /* body/regular */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}


.meeting-btm {
  display: flex;
}

.live-btm {
  border-top: 1px solid rgba(204, 162, 0, 0.15);
}

.upcoming-btm {
  border-top: 1px solid var(--grey-30, #F3F1ED);
}

.options {
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options.upcoming:hover {
  background: var(--grey-10, #F7F6F3);
}

.options.live:hover {
  background: var(--yellow-40, #FFEA99);
}

